<h1>Thanks, {{r.request.first_name}}</h1>
<p class="lead">We have received your request, but there's one more thing we need you to do.</p>
<br >
<h2><i class="fa fa-envelope"></i> Check your email</h2>
      <br >
      <p>To protect your privacy, we need you to confirm your email address before we can progress your request. We have sent a confirmation email to {{r.request.email}}.</p>
      <p>When you receive our email, please <strong>click the confirmation link</strong> and we'll start processing your request.</p>
      <p>If you have not received an email from us within the next 30 minutes, please check your junk email folder.</p>

  <div ng-include="'footer.html'"></div>